@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;500&display=swap');
@import 'node_modules/react-modal-video/scss/modal-video.scss';


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #4484c4;
}
.movieDetails-section{
    padding-top: 20px;
}
.movie-section{
    padding-top: 60px;
}
img{
    max-width: 100%;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0  -15px;
}
.col-3 {
    width: 25%;
    padding: 0 15px;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.col-5{
    width: 41.6666%;
    padding: 0 15px;
}
.col-7{
    width: 58.3333%;
    padding: 0 15px;
}

.col-2{
    width: 20%;
    padding: 0 15px;
}

.movie-desc{
    font-size: 18px;
    color: #fff;
}
.movieDetails-title{
    color: #fff;
}
.movieDetails-img{
    width: 500px;
}
.actors-title{
    color: #fff;
    text-align: center;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: #03243FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}
.header-link{
    margin-left: 25px;
    font-size: 25px;
    color: #fff;
}
.fa-film{
    font-size: 30px;
    color: white;
    padding-top: 7px;
}
.homePage-title{
    color: #fff;
    text-align: center;
    padding-top: 15px;
}
.homePage-desc{
    color: #fff;
    font-size: 24px;
    text-align: center;
}
.actor-desc{
    color: #fff;
    font-size: 16px;
}